{# Лента комментариев на главной странице #}
{% if comments %}
{% for obj in comments %}
   <div class="comments-item">
            <div class="comments-title">
                {{ obj.text | truncate(100)}}
            </div>
            <div class="comments-theme">Написал <a href="{% if obj.user_id %}/employee/view/{{obj.user_id}}{% else %}#{%endif%}">{{obj.user_name}} </a>
                в теме <a href="{{obj.url}}">{{obj.linkName}} {{obj.title}}</a></div>
    </div>                    
{% endfor %}
{% endif %}
