{# Работник месяца #}
<div class="birthday-item">
        <div class="liningEmployee" style="">
            <img src="{{employeeofthemonth.photo}}" alt="">
        </div>
        <div class="birthday-content">
          <div class="birthday-name">
            <a href="{{site_url}}employeeofthemonth/view/{{employeeofthemonth.year}}/{{employeeofthemonth.month}}">{{ employeeofthemonth.data.name }}</a>
          </div>
          <div class="birthday-text">{{ employeeofthemonth.title }}</div>
              <a href="{{site_url}}employeeofthemonth/view/{{employeeofthemonth.year}}/{{employeeofthemonth.month}}" class="btn">
                  <div class="icon icon_go"></div>
              </a>
        </div>
</div>