{# Активный опрос #}
{{ poll}}
<div class="poll poll_start">
  <div class="poll-title">{#<span>14 января, 2014</span>#}{{ question}}</div>
  <div class="poll-content">
    {% for item in items %}
      <div class="poll-row">
        <div class="radio">

          <input class="poll-active-radio" type="radio" name="r" value="{{item.id}}" id="r{{item.id}}">
          <label for="r{{item.id}}">{{item.text}}</label>

        </div>
      </div>
    {% endfor %}         
    <input type="button" value="отправить" class="btn" onclick="javascript:setResult();"/>         
    {#<div class="poll-kol">Проголосовало {{count}}. </div>#}
  </div>
</div>

{#
<p class="n-rol-tit">Наш опрос</p>
<p class="n-rol-r-txt">{{ question}}</p><br />
<p class="n-ch-box-txt">
{% for item in items %}
    <label class="label_radio r_off" for="radio-0{{item.id}}"><input name="sample-radio" id="radio-0{{item.id}}" value="{{item.id}}" type="radio">{{item.text}}</label><br/><br/>
{% endfor %}
</p>
<br /><input type="button" class="n-but" onclick="javascript:setResult();"/><a class="n-rol-hist" href="/polls">Архив</a>


#}