{# Это опрос, когда уже проголосовал #}
{#
 <p class="n-rol-tit">Наш опрос</p> 
 <p class="n-rol-r-txt">{{ question }}</p><br />
 {% for item in items %}
<div class="n-qst-con-small">
    <p class="n-ch-box-txt">{{item.text}}</p>
    <div style="width:{{item.percent}}%; float:left;" class="n-pr-line"></div>
    <i class="n-qst-pr-small">{{item.value}}%</i><br>
</div>
{% endfor %}
    
<p class="n-mn">Ваше мнение по этому<br>вопросу уже принято</p>
     <a class="n-rol-hist" href="/polls">Архив</a>
#}

<div class="poll poll_start">
  	<div class="poll-title">{{ question }} {#<span>14 января, 2014</span>#}</div>
  	<div class="poll-content">
  		{% for item in items %}
			<div class="poll-row">
	      		<div class="poll-name">{{item.text}}</div>
	      		<div class="poll-block">
	        		<div style="width:{{item.value}}%" class="poll-mean">{{item.count}}<span>{{item.value}}%</span></div>
	      		</div>
	    	</div>
		{% endfor %}
    	
    	<div class="poll-kol">Проголосовало {{count}}. </div>
  	</div>
</div>