{# Новость в шапке на главной странице #}
     <div class="slider-content">
     
        {# <a class="slider-item"> #}
            {# <video poster="/data/video/8marta/8marta.jpg" loop="loop" controls="controls" tabindex="0" width="922" height="520">
                <source src="/data/video/8marta/8marta.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                <source src="/data/video/8marta/8marta.webm" type='video/webm; codecs="vp8, vorbis"' />
            </video>             #}
            {# <div class="slider-info">
                    <div class="slider-title slider-title-id-8marta">С 8 марта, дорогие девушки!</div>
                    <div class="slider-text">
                            Поздравляем, счастья радости желаем!
                    </div>
            </div>
            <div class="icon icon_arr"></div> #}
        {# </a> #}

        {% for item in newsMain %}

            {# Добавляем стиль к заголовку для определённых топиков  #}
            {% if item.id in [0, 1, 4071] %}
                {% set textRed = "slider-title-red" %}
            {% else %}
                {% set textRed = "" %}
            {% endif %}

            <a href="{{ item.link}}" class="slider-item">
                {% if item.photo %}
                    <img src="{{ item.photo}}" alt="" width="922">
                {% endif %}
                <div class="slider-info">
                    <div class="slider-title slider-title-id-{{item.id}} {{textRed}}">{{ item.title }}</div>
                    <div class="slider-text">
                        {{ item.text | truncate(315)}}
                    </div>
                </div>
                <div class="icon icon_arr"></div>
             </a>
         {% endfor %}
     </div>