   <ul>
                  <li><a href="{{ server_base }}/Direction/Secretary">Секретари</a></li>
                  <li><a href="{{ server_base }}/Direction">Руководство</a></li>
                  <li><a href="{{ server_base }}/search_employee/company/">Структура ООО &laquo;РН-Ванкор&raquo;</a></li>
                  <li><a href="{{ server_base }}/EmployeeOfTheMonth">Лучшие работники месяца</a></li>
                  <li><a href="{{ server_base }}/HallOfFame">Доска почета</a></li>
                  <li><a href="{{ server_base }}/MS">Молодые специалисты</a></li>
</ul>
