{% extends templates_path ~ '/vankor_base.html.twig' %}

{% block sideMenu %}
    <div class="layout_contentRightBlock">
              {% include templates_path ~ '/oilBanner.html.twig' %}
            </div>
            <div class="layout_contentRightBlock layout_contentRightBlock_bordered">
              <div class="nav-title">последние новости</div>
              <div class="articles-right">
                {% include templates_path ~ '/lastNews.html.twig' %}
              </div>
            </div>
{% endblock %}

{% block topContainer %}
  <script>
  function changeDate() {
    let day = $("#day").val();
    let month = $("#month option:selected").val();
    let year = $("#year option:selected").val();
    let url = "{{ path('vankor_news_archive')}}/";

    if(year != 0) {
      url += year +"/";
      if(month != 0) {
        url += month +"/";
        if(day != 0) {
          url += day + "/";
        }
      }
    }
    document.location.href = url;
  }
  </script>
            <div class="layout_contentLeftBlock layout_contentLeftBlock_search"><a href="#" class="btn" style="padding-top:8px;" >найти</a>
              <div class="search-content">
                <input type="text" class="input">
                <select name="" class="select">
                  <option value="1">Новости</option>
                </select>
              </div>
            </div>
            <div class="layout_contentLeftBlock layout_contentLeftBlock_filter">
              <div class="filter-date">
                  <input type="text" name="day" placeholder="День" id="day"
                  class="input" style="margin-top:10px;width:auto;margin-right: 10px;"
                    {% if current_day %}
                      value="{{current_day}}"
                    {% endif %}>
                <select name="month" data-placeholder="Месяц" class="select" id="month"  size="6">
                    <option value="0" selected>Месяц</option>
                  {% for id, month in months %}
                      <option value="{{id}}"
                        {% if current_month == id %}
                          selected="true"
                        {% endif %}>
                        {{month}}
                      </option>
                  {% endfor %}
                </select>
                <select name="year" data-placeholder="Год" class="select" id="year">
                    <option value="0" selected>Год</option>
                  {% for year in years %}
                      <option value="{{ year }}" {% if current_year == year %} selected="true" {% endif %}>{{year}}</option>
                  {% endfor %}
                </select>
                <a href="javascript:changeDate()" class="btn">Показать</a>
              </div>
            </div>
{% endblock %}

{% block main %}

    <div class="articles-archive">

      {% for item in news %}

      <div class="articles-item">
        <div class="articles-image">
            {% if item.image %}
             <a href="{{ path('vankor_news_show', { id: item.id }) }}">
                <img src="{{ small_img }}{{ item.image }}" alt="">
              </a>
            {% endif %}
        </div>

        <div class="articles-content">
          <div class="articles-date">{{ item.publishDate | date("d.m.Y") }} {{ months_in_date[ item.month ] }} {{ item.year }}</div>
          <a href="{{ path('vankor_news_show', { id: item.id }) }}"
          class="articles-title">{{item.title|raw}}</a>
          <p>{{ item.shortText | raw }}</p>
        </div>
      </div>
      {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}
