{# <i style="font-size:40px; color:white;" class="fa fa-cloud-sun" aria-hidden="true"></i> #}
{# <i style="font-size:32px; color:white;" class="fa fa-cloud" aria-hidden="true"></i> #}

<div class="header">
    <a class='logo' href='#'>
        <img src="{{ asset('images/logo.png') }}" />
    </a>
    
    <div class="header-content">
            <div class="date-time">
                <div class="time">16:49</div>
                <div class="date">
                    19 марта<br>
                    четверг
                </div>
            </div>

            <div class="weather">
                <div class="weather1">
                    <div>
                        <div class='weather-ico'>
                            <img src="{{ asset('images/svg/cloud-sun.svg') }}" />
                            <i class="wi wi-day-lightning"></i>
                        </div>
                        <div class='weather-info'>−5°C<br>небольшая<br>облачность</div>
                    </div>
                    <div class='place'>КРАСНОЯРСК</div>
                </div>

                <div class="weather2">
                  <div>
                        <div class='weather-ico'>
                            <img src="{{ asset('images/svg/cloud.svg') }}" /> 
                        </div>
                        <div class='weather-info'>−15°C<br>небольшая<br>облачность</div>
                    </div>
                    <div class='place'>БАЙКИТ</div>
                </div>
            </div>

            <div class="rate">
                <div class="rate-1">
                    <img class="dollar" src="{{ asset('images/svg/dollar.svg') }}" />
                    <div><span class='whole'>60.</span><span class='cents'>60</span></div>
                </div>
                <div class="rate-2">
                    <img  class="euro" src="{{ asset('images/svg/euro.svg') }}" />
                    <div><span class='whole'>60.</span><span class='cents'>60</span></div>
                </div>
                <div class="label">КУРС ВАЛЮТ</div>
            </div>

            <div class="barrel-price">
                <div>
                    <div class="barrel-value">56.61</div>
                    <img class="dollar" src="{{ asset('images/svg/dollar.svg') }}" />
                </div>
                <div class="label">ЦЕНА ЗА БАРРЕЛЬ</div>
            </div>
            <div class="user">
              <div class="user-name">Иванов Иван Иванович</div>
              <div class="avatar"></div>
            </div>                    
   </div>
</div>
